<ion-header>    

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="volverClick()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
              </ion-button>
          </ion-buttons>   
      <ion-title>Alta cliente</ion-title>     
    </ion-toolbar>   
  </ion-header>
  
  <ion-content>
       <beatForm-alta-empresa [empresa]="cliente" rol_empresa="Cliente" redireccion="clientes"></beatForm-alta-empresa>
   </ion-content>