table {
    width: 100%;
}

th.mat-header-cell {
    text-align: left;
    max-width: 150px;
}

.fab-vertical-bottom {
    bottom: 80px !important;
}


.ion-card {
    margin-left: 6px !important;
}

.ion-avatar {
    --border-radius: 0 !important; 
    width: auto !important;
}

.imagen_cliente {    
    --border-radius: 0%!important;
}

.header_cabeceras {
    padding-top: 0px !important;
}