img {
    width: 50%;
}

/*ion-content.login_background {
 - --ion-background-color: #00247D;
}*/

ion-input {
    --placeholder-color: white;
    color: white;
}

.mat-form-field {
    display: block !important;
}