img {
    width: 50%;
}

ion-content {
    --color: #fff;
    --background:none;
   // background: url(/assets/images/login/login1.jpg) no-repeat  100% 100%;
   // background-size: cover;  
}

ion-input {
    --placeholder-color: white;
    color: white;
}

.mat-form-field {
    display: block !important;
}

.login_background {
   /* background-image: url('http://localhost:8100/assets/images/login/login1.jpg') !important;*/
}

