img {
    width: 50%;
}

ion-content {
    --color: #fff;
    --background:none;  
}

ion-input {
    --placeholder-color: white;
    color: white;
}

.mat-form-field {
    display: block !important;
}

