<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>Selecciona localización</ion-title>
    </ion-toolbar>
</ion-header>
<mat-progress-bar mode="query" color="accent" *ngIf="cargando"></mat-progress-bar>
<!-- <ion-content>
    <ion-card *ngFor="let localizacion of localizaciones" [ngStyle]="{'border-left': '20px solid', 'color': estiloBorde(localizacion)['border-color']}"
        (click)="seleccionar(localizacion)">
        <ion-img [src]="'/assets/images/localizaciones/'+localizacion.getImagen()"></ion-img>
        <ion-card-header class="header_cabeceras">
            <h3>{{ localizacion.getNombre() }}</h3>
        </ion-card-header>
        <ion-card-content>
            <ion-card-subtitle>
                <ion-icon name="information-circle" color="primary"></ion-icon> {{ localizacion.getTipo() }}
            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-icon name="pin" color="primary"></ion-icon>
                {{ localizacion.getDireccion().getDireccionTexto() }}
            </ion-card-subtitle>
        </ion-card-content>
    </ion-card>
</ion-content> -->

<div class="card"></div>