<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="volverClick()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClick()" color="light">
        <ion-icon slot="end" name="checkmark"></ion-icon>
        Guardar
      </ion-button>
    </ion-buttons>
    <ion-title>Edición cliente</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <beatForm-alta-empresa [tab]="_tab" cargando="true" [empresa]="cliente" rol_empresa="Cliente" redireccion="clientes"></beatForm-alta-empresa>
</ion-content>