<ion-row>
    <ion-col size="12">
        <mat-form-field>
            <mat-select placeholder="" formControlName="tipo_localizacion">
              <mat-option *ngFor="let tipo_loc of tipos_localizacion" [value]="tipo_loc">
                {{ tipo_loc }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </ion-col>
</ion-row>


<!-- <div [formGroup]="direccionForm">

    <div class="row" *ngIf="conTipoLocalizacion">
        <div class="form-group col-lg-12">
            <label for="input-localizacion">
                Tipo de Localización*
            </label>
            <select id="input-localizacion" class="form-control form-control-sm" formControlName="tipo_localizacion"
                [ngClass]="{'is-invalid text-danger': mostrarErrores && !tipo_localizacion }">
                <option value="" selected="true">Seleccione localización...</option>
                <option *ngFor="let tipo_loc of tipos_localizacion" [value]="tipo_loc">
                    {{ tipo_loc }}
                </option>
            </select>
            <span *ngIf="mostrarErrores && !tipo_localizacion" class="text-small text-danger">
                El campo tipo de localización es requerido.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-3 col-md-6">
            <label for="input-tipo-via">
                Tipo de vía*
            </label>
            <select class="form-control form-control-sm" id="input-tipo-via" formControlName="tipo_via_id" [ngClass]="{'is-invalid text-danger border-danger': mostrarErrores && direccionForm.get('tipo_via_id').invalid  }">
                <option value="" selected="true">Seleccione tipo de vía...</option>
                <option *ngFor="let tipo_via of tipos_via" [value]="tipo_via.getId()">
                    {{ tipo_via.getNombre() }}
                </option>
            </select>
            <span *ngIf="mostrarErrores && direccionForm.get('tipo_via_id').hasError('required')" class="text-small text-danger">
                El campo tipo de vía es requerido.
            </span>
        </div>
        <div class="form-group col-lg-9 col-md-6">
            <label for="input-nombre-via">
                Nombre de vía*
            </label>
            <input type="text" id="input-nombre-via" class="form-control form-control-sm" formControlName="nombre_via"
                [ngClass]="{'is-invalid text-danger border-danger': mostrarErrores && direccionForm.get('nombre_via').invalid  }" />
            <span *ngIf="mostrarErrores && direccionForm.get('nombre_via').hasError('required')" class="text-small text-danger">
                El campo nombre de vía es requerido.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4">
            <label for="input-numero">
                Número*
            </label>
            <input type="text" id="input-numero" class="form-control form-control-sm" formControlName="numero"
                [ngClass]="{'is-invalid text-danger border-danger': mostrarErrores && direccionForm.get('numero').invalid  }"
                maxlength="5" />
            <span *ngIf="mostrarErrores && direccionForm.get('numero').hasError('required')" class="text-small text-danger">
                El campo número es requerido.
            </span>
        </div>
        <div class="form-group col-lg-4">
            <label for="input-numero">
                Escalera
            </label>
            <input type="text" id="input-escalera" class="form-control form-control-sm" formControlName="escalera"
                maxlength="20" />
        </div>
        <div class="form-group col-lg-4">
            <label for="input-piso">
                Piso
            </label>
            <input type="text" id="input-piso" class="form-control form-control-sm" formControlName="piso" maxlength="20" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="input-provincia">
                Provincia
            </label>
            <p-dropdown id="input-provincia" class="select form-control form-control-sm" [required]="true"
                formControlName="provincia_id" (onChange)="obtenerMunicipios()" [options]="provincias" [filter]="true"
                [dropdownIcon]="'pi pi-cloud-download'">
                <ng-template let-provincia pTemplate="item">
                    {{ provincia.label }}
                </ng-template>
            </p-dropdown>
        </div>
        <div class="form-group col-lg-6">
            <label for="input-codigo-postal">
                Código postal*
            </label>
            <input type="text" id="input-codigo-postal" class="form-control form-control-sm" formControlName="codigo_postal"
                [ngClass]="{'is-invalid text-danger border-danger': mostrarErrores && direccionForm.get('codigo_postal').invalid  }" />
            <span *ngIf="mostrarErrores && direccionForm.get('codigo_postal').hasError('required')" class="text-small text-danger">
                El campo código postal es requerido.
            </span>
            <span *ngIf="mostrarErrores && direccionForm.get('codigo_postal').hasError('invalidCodigoPostal')" class="text-small text-danger">
                El campo código postal no es válido.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12">
            <label for="input-municipio">
                Municipio* &nbsp;
                <i class="fa fa-spinner fa-spin text-warning" [ngStyle]="{'display': cargando_municipios ? 'inherit' : 'none'}"></i>
            </label>
            <p-dropdown id="input-municipio" [required]="true" formControlName="municipio_id" (change)="comprobarCP($event.target)"
                [options]="municipios" [filter]="true" [dropdownIcon]="'pi pi-cloud-download'" [ngClass]="{'select form-control form-control-sm': true, 'is-invalid text-danger': mostrarErrores && direccionForm.get('municipio_id').invalid}">
                <ng-template let-municipio pTemplate="item">
                    {{ municipio.label }}
                </ng-template>
            </p-dropdown>
            <span *ngIf="mostrarErrores && direccionForm.get('municipio_id').hasError('required')" class="text-small text-danger">
                El campo municipio es requerido.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <label for="input-provincia">
                Observaciones
            </label>
            <textarea class="form-control" rows="5" formControlName="observaciones"></textarea>
        </div>
    </div>
</div> -->