<div [formGroup]="direccionForm">
    <ion-row *ngIf="conTipoLocalizacion">
        <ion-col size="12">
            <mat-form-field>
                <mat-select placeholder="Tipo de localización" formControlName="tipo_localizacion" required>
                    <mat-option *ngFor="let tipo_loc of tipos_localizacion" [value]="tipo_loc">
                        {{ tipo_loc }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="6">
            <mat-form-field>
                <mat-select placeholder="Tipo de vía" formControlName="tipo_via_id" required>
                    <mat-option *ngFor="let tipo_via of tipos_via" [value]="tipo_via.getId()">
                        {{ tipo_via.getNombre() }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-error *ngIf="mostrarErrores && direccionForm.get('tipo_via_id').hasError('required')">
                El campo tipo de vía es requerido.</mat-error>
        </ion-col>

        <ion-col size="6">
            <mat-form-field>
                <input matInput type="text" placeholder="Nombre de la vía" id="input-nombre-via" class="form-control form-control-sm"
                    formControlName="nombre_via" [ngClass]="{'is-invalid text-danger border-danger': mostrarErrores && direccionForm.get('nombre_via').invalid  }" />
                <mat-error *ngIf="mostrarErrores && direccionForm.get('nombre_via').hasError('required')">
                    El campo nombre de vía es requerido.</mat-error>
            </mat-form-field>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="4">
            <mat-form-field>
                <input matInput type="text" id="input-numero" placeholder="Número" class="form-control form-control-sm"
                    formControlName="numero" [ngClass]="{'is-invalid text-danger border-danger': mostrarErrores && direccionForm.get('numero').invalid  }"
                    maxlength="5" />
                <mat-error *ngIf="mostrarErrores && direccionForm.get('numero').hasError('required')">
                    El campo número es requerido..</mat-error>
            </mat-form-field>
        </ion-col>
        <ion-col size="4">
            <mat-form-field>
                <input matInput type="text" placeholder="Escalera" id="input-escalera" class="form-control form-control-sm"
                    formControlName="escalera" maxlength="20" />
            </mat-form-field>
        </ion-col>
        <ion-col size="4">
            <mat-form-field>
                <input matInput placeholder="Piso" type="text" id="input-piso" class="form-control form-control-sm"
                    formControlName="piso" maxlength="20" />
            </mat-form-field>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="6">
            <mat-form-field>
                <mat-select placeholder="Provincia" formControlName="provincia_id" (onChange)="obtenerMunicipios()"
                    required>
                    <mat-option *ngFor="let provincia of provincias" [value]="tipo_via.getId()">
                        {{ provincia.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ion-col>
        <ion-col size="6">
            <input matInput type="text" id="input-codigo-postal" formControlName="codigo_postal" required />
            <mat-error *ngIf="mostrarErrores && direccionForm.get('codigo_postal').hasError('required')">
                El campo código postal es requerido.</mat-error>
            <mat-error *ngIf="mostrarErrores && direccionForm.get('codigo_postal').hasError('invalidCodigoPostal')">
                El campo código postal no es válido.</mat-error>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12">
            <mat-select id="input-municipio" placeholder="Municipio" formControlName="municipio_id" (change)="comprobarCP($event.target)"
                required>
                <mat-option *ngFor="let municipio of municipios">
                    {{ municipio.label }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="mostrarErrores && direccionForm.get('municipio_id').hasError('required')">
                El campo municipio es requerido.</mat-error>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12">
            <mat-form-field>
                <textarea matInput formControlName="observaciones" placeholder="Observaciones" rows="6"></textarea>
            </mat-form-field>
        </ion-col>
    </ion-row>
</div>